/* SCOREBOARD */
.scoreboard {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #282c34;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* GAMEBOARD */
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

/* CARDS */
.card {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: tranform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  background-color: #e0e0e0;
}

.card img {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
