/* SCOREBOARD */
.scoreboard {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #282c34;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* GAMEBOARD */
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

/* CARDS */
.card {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: tranform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  background-color: #e0e0e0;
}

.card img {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* Loading state */
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60vh;
}

.pokeball {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid black;
  background: linear-gradient(
    to bottom,
    #ff0000 45%,
    #000000 45%,
    #000000 55%,
    #ffffff 55%
  );
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.pokeball::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 3px solid black;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10;
}
