@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  font-synthesis: none;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/public/back03.png);
  background-size: cover;
  filter: grayscale(100%) contrast(1.2) sepia(20%);
  z-index: -1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
